
      <div id="div-about" class="tab-pane ">
        <div class="row">
          <div class="col-11 mt-3">
            <h4 class="text-secondary">BASIC INFORMATION</h4>
          </div>
          <div class="col mt-3"><i class="fas fa-edit"></i></div>
        </div><hr>
        <div class="row mt-2">
          <div class="col-3"><h6>FULL NAME</h6></div>
          <div class="col text-secondary"><h6>{{fullname}}</h6></div>
        </div>
        <div class="row mt-2">
          <div class="col-3"><h6>Gender</h6></div>
          <div class="col text-secondary"><h6>{{gender}}</h6></div>
        </div>
        <div class="row mt-2">
          <div class="col-3"><h6>Birth</h6></div>
          <div class="col text-secondary"><h6>{{birth}}</h6></div>
        </div>
        <div class="row mt-2">
          <div class="col-3"><h6>Maritial Status</h6></div>
          <div class="col text-secondary"><h6>{{maritial}}</h6></div>
        </div>
        <div class="row mt-2">
          <div class="col-3"><h6>Location</h6></div>
          <div class="col text-secondary"><h6>{{location}}</h6></div>
        </div>  <br><hr>
    
          <div class="row mb-2">
            <div class="col-11 mt-3">
              <h4 class="text-secondary">Work</h4>
            </div>
            <div class="col mt-3"><i class="fas fa-edit"></i></div>
          </div><hr>
            <div class="row mt-2">
              <div class="col-3"><h6>Occupation</h6></div>
              <div class="col text-secondary"><h6>{{occupation}}</h6></div>
            </div>
            <div class="row mt-2">
              <div class="col-3"><h6>Skills</h6></div>
              <div class="col text-secondary"><h6>{{skills}}</h6></div>
            </div>
            <div class="row mt-2">
              <div class="col-3"><h6>Jobs</h6></div>
              <div class="col text-secondary"><h6>{{jobs}}</h6></div><br>
            </div>
            <br><hr>
        </div>
    
      
 