<div class="tab-pane " id="div-friends">
   <div id="div-friends-inner">
        <div class="row mt-1">
          <div class="col-6">
            <div class="row">
              <div class="col-4"><img width="100%" src={{image}} alt=""></div>
              <div class="col-6"><h5 class="mt-3">{{name}}</h5><p class="text-secondary">{{fullOccupation}}</p></div>
              <div class="col"> <i class="fas mt-5 fa-ellipsis-v"></i></div>
            </div>

          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4"><img width="100%" src={{image}} alt=""></div>
              <div class="col-6"><h5 class="mt-3">{{name}}</h5><p class="text-secondary">{{fullOccupation}}</p></div>
              <div class="col"> <i class="fas mt-5 fa-ellipsis-v"></i></div>
            </div>
          </div>
        </div>
        <br>
        </div>
      </div>