      <div id="div-timeline" class="tab-pane active">
        <div id="div-timeline-inner">
        <div class="row mt-2">
          <div class="col-1">
            <img width="45vw" src={{profileSrc}} alt="" />
          </div>
          <div class="col-8 mt-1">
            <h5>{{name}} posted on your timeline</h5>
          </div>
          <div class="col-1 mt-1"></div>
          <div class="col text-center"><i class={{menuIcon}}></i></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col"><p class="text-secondary">{{time}} minutes</p></div>
        </div>
        <img
         width="100%"
          src={{imageSrc}}
          alt=""
        />
        <br />
        <br />
        <h5>{{name}} posted on your timeline</h5>
        <p class="text-secondary">
        {{lorem}}
        </p>
        <hr />
        <div class="row">
          <div class="col text-center">
            <i class={{likeIcon}}></i> Like (20)
          </div>
          <div class="col"><i class={{commentIcon}}></i> Comments (25)</div>
          <div class="col"><i class={{shareIcon}}></i> Share (10)</div>
          <br /><br />
        </div>
        <hr><br>
        </div>
      </div>
