body {
    background-color: rgb(228, 228, 228);
}
#div-aside-follow {
    border:1px solid rgb(221, 221, 221);
    background-color:white;
    position: relative;
    width: 94%;
    left: 6%;
    bottom: 15vw;
    text-align: center;
    border-radius: 5px;
}
#div-tabs {
    width: 74%;
    float: right;

}

#div-followers {
    margin-left: 0.1%;
    margin-right: 0.1%;
    margin-bottom: 7%;
}
#div-aside-whoToFollow {
    border:1px solid rgb(221, 221, 221);
    background-color:white;
   position: relative;
   width: 94%;
   left: 6%;
    bottom: 11vw;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
#ul-tabs {
    background-color: white;
    border-radius: 5px;
}
#div-aside-friends {
    border:1px solid rgb(221, 221, 221);
    background-color:white;
   position: relative;
   width: 94%;
   left: 6%;
    bottom: 7vw;
    align-items: center;
    border-radius: 5px;

}
#div-body {
    background-color: rgb(228, 228, 228);
}
#div-tab-content-body {
  float: right;
  width: 70.2%;
  position: relative;
  right: 1.9%; 
  border: 1px solid white;
  background-color: white;
border-radius: 5px;
}
#div-cards {
    width: 26%;
    float: left;
}
.navigation {
    display: none;
}